
 @font-face {
	font-family: 'Luminari';
	src: url('https://fonts.googleapis.com/css2?family=Luminari&display=swap');
  }
  
body {
  margin: 0;
  padding: 0;
  background-image: url("background_index.jpeg");
  background-size: cover;
  
}

h1 {
  font-size: 70px;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 25px;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  font-family: "Luminari", sans-serif;
  color:rgb(83, 5, 52);
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;  
  padding: 0;
}

nav ul li a {
  color:rgb(59, 11, 44);
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #777;
}

.intro {
  text-align: center;
  color:rgb(59, 11, 44);
  
  transform: translateY(50px);
}

.intro h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 20px;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: rgb(76, 53, 53);
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #777;
  cursor: pointer;
}

/* Animation styles */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	font-size: 120px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	animation: rotate 5s infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
