<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylecss/rough.css') }}">

               
    </head>
    <body>
        <h1>Inventory</h1>
        <!-- <ul>
            {% for filename in files %}
                <li><img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="{{ filename }}"></li>
            {% endfor %}
        </ul> -->

        <div class="conveyer-container" height="700px">
            {% for filename in files %}
                 {% if filename.endswith('.png') %}
                     <div class="outfit" height="700px">
                         <img class="rod" src="{{ url_for('static', filename='images/rodfinal.png') }}">
                         </br>
                         <img class="hanger" src="{{ url_for('static', filename='images/hanger1.png') }}">
                         </br>
                         <img class="top" src="{{ url_for('static', filename='uploads/' + filename) }}">
                     </div>
                 {% endif %}
             {% endfor %}
         </div>

    </body>
</html>

